*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fontin Sans CR';
    list-style: none;
}

:root{
    --bg-color: #f0e7fd;
    --main-color:#25064d;
    --var-color:#FF3864;
}

body{
    background: #fff;
}

.logo{
    height: 100px;
}

.navbar{
    background-color: var(--bg-color);
}

.nav-link{
    color: var(--main-color) !important;
    margin-left: 7px;
}

.dropdown-item{
    color: var(--main-color) !important;
}

.welcome h1,h2{
    text-align: center;
}

.welcome h2{
    font-family: 'Dancing Script', cursive; 
}