*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0e7fd !important;
}

.logo{
    height: 300px;
    margin-left: 40px;
}

.nav-link{
    font-family: 'Fontin Sans CR';
    color: #25064d !important;
    font-size: 20px;
    margin: 5px;
    font-weight: 500;
}

.navbar-toggler{
    color: transparent !important;
    border: none !important;
    border-color: transparent !important;
}
