*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 200px;
}

.nav-link{
    font-family: 'Fontin Sans CR';
    color: #25064d !important;
    font-size: 20px;
    margin: 3px;
    font-weight: 500;
}

.menu-bar{
    background-color:#f0e7fd;
}
