<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock title %} The Food Lab  </title>
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/font/font.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

    <header>
        <div class="top">
            <img class="logo" src="../static/images/biryani-transparent.png">
        </div>

        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/product">Our Products</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>

        <div>
            <div class="bx bx-menu" id="toggle-bar"></i></div>
        </div>

        {% block body %}
        
        {% endblock body %}


    </header>



    <!-- js files -->
    <script type="text/javascript" src="../static/js/script.js"></script>

    
</body>

</html>