<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock title %} </title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../static/font/font.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

    <header>
        <div class="top">
            <img class="logo" src="../static/images/biryani-transparent.png">
            <h2 class="logo-name">The Food Lab</h2>
        </div>

        <ul class="navbar">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/brand">Brands</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>

        <div class="main">
            <a href="/login" class="user"><i class="fa-solid fa-user" style="color: #FF3864;"></i>Sign In</a>
            <a href="/register">Register</a>
            <div class="bx bx-menu" id="toggle-bar"></i></div>
        </div>

    </header>

    <script type="text/javascript" src="../static/js/script.js"></script>

    {% block body %} {% endblock body %}

</body>

</html>