{% extends 'base.html' %}

{% block title %}

Contact Us |

{% endblock title %}

{% block body %}

<div class="contact container">
    <h1>Contact Us</h1>
</div>
<div class="icon">
    <a href=""><i class="fa-brands fa-square-instagram fa-beat-fade fa-2xl" style="color: #25064d;"></i></a>
    <a href=""><i class="fa-brands fa-square-facebook fa-beat-fade fa-2xl" style="color: #25064d;"></i></a>
    <a href=""><i class="fa-solid fa-envelope fa-beat-fade fa-2xl" style="color: #25064d;"></i></a>
</div>

{% endblock body %}
